<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
          *ngFor="let user of usersArray"
          (click)="openForEdit(user)"
          class="list-group-item">
           {{user.name}} {{user.lastName}} - {{user.email}}           
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insert New User
          </div>
          <div class="form-group">
            <input type="hidden" [(ngModel)]="selectedUser._id">
            <input type="text" [(ngModel)]="selectedUser.name" class="form-control" placeholder="Insert Name">
          </div>
          <div class="form-group">
              <input type="text" [(ngModel)]="selectedUser.lastName" class="form-control" placeholder="Insert Lastname">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.email" class="form-control" placeholder="Insert Email">
          </div>
          <div class="form-group">
              <input type="password" [(ngModel)]="selectedUser.password" class="form-control" placeholder="Insert Password">
          </div>

          <div class="form-group">
              <button (click)="addOrEditUser()" class="btn btn-primary mr-3">Save</button>
              <button *ngIf="selectedUser._id !== 0" (click)="deleteUser()" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>